<!DOCTYPE html>
<html$if(lang)$ lang="$lang$"$endif$$if(dir)$ dir="$dir$"$endif$>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
$for(author-meta)$
    <meta name="author" content="$author-meta$">
$endfor$
$if(keyword)$
    <meta name="keywords" content="$for(keyword)$$keyword$,$endfor$">
$endif$
$if(description)$
    <meta name="description" content="$description$">
$endif$
    <title>$title$</title>
    <link rel="shortcut icon" href="assets/favicon.ico">
$for(style)$
    <link rel="stylesheet" href="$style$">
$endfor$
    <link id="prism-css" rel="stylesheet" href="">
  </head>
  <body class="light">
    <div class="main-layout mdl-layout mdl-layout--fixed-header mdl-js-layout">
      <header class="header mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">
            <a href="index.html" class="title-link">$title$</a>
          </span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="index.html">Home</a>
            <a class="mdl-navigation__link toggle-theme" href="#">
              <i class="material-icons">&#xE430;</i>
            </a>
          </nav>
        </div>
      </header>
      <main class="main mdl-layout__content">
        <div class="main-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="main-content mdl-shadow--4dp mdl-cell mdl-cell--8-col">$body$</div>
        </div>
        <footer class="footer mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <ul class="mdl-mini-footer--link-list">
              <li><a href="index.html">Home</a></li>
            </ul>
          </div>
          <div class="mdl-mini-footer--right-section">
            <ul class="mdl-mini-footer--link-list">
              <li><a href="#"><i class="material-icons">&#xE5D8;</i></a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
$for(script)$
    <script src="$script$"></script>
$endfor$
    <script>
      ga('create', '$analytics-id$', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
